<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 bordered-box text-center">
        <h1 class="text-center">Cadastrar novo cliente</h1>
        <br>
        <form method="post" action="">
            Código Pipedrive : <input type="text" name="UserId" placeholder=""><hr>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
        <br>
    </div>
    <div class="col-lg-3"></div>
</div>