@{
    ViewData["Title"] = "Ideia no Ar - Dev Test";
}


<div class="jumbotron">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Gerenciador de Clientes</h2>
            <a class="btn btn-lg btn-primary" asp-area="" asp-controller="Users" asp-action="Index">Lista de Clientes</a>
            @*<ul>
                    <li><a asp-area="" asp-controller="ToDo" asp-action="Populate">Load Sample To Do Items</a></li>
                    <li><a asp-area="" asp-controller="ToDo" asp-action="Index">List To Do Items</a></li>
                    <li><a href="/swagger">API Documentation (Swagger)</a></li>
                </ul>*@
        </div>
    </div>
</div>
