@{
    ViewData["Title"] = "Error";
}
@model string;
<h1 class="text-danger">Erro:</h1>
<h2 class="text-danger">Um erro ocorreu ao processar o seu pedido.</h2>
@if (!string.IsNullOrWhiteSpace(Model))
{
    <h1>Mais informações:</h1>
    <p>@Model</p>
}